<h2>Select opening :</h2>
<mat-selection-list [multiple]="false" (selectionChange)="handleSelectColor($event)">
    <mat-list-option [value]="WHITE">
        {{WHITE}}
    </mat-list-option>
    <app-show-openings #showWhiteOpenings *ngIf="selectedColor === WHITE" 
    [openingList]=whiteOpeningList (selectedOpening)="handleSelectOpening($event)" (selectedLine)="handleSelectLine($event)"></app-show-openings>
    <mat-list-option [value]="BLACK">
        {{BLACK}}
    </mat-list-option>
    <app-show-openings #showBlackOpenings *ngIf="selectedColor === BLACK" 
    [openingList]=blackOpeningList (selectedOpening)="handleSelectOpening($event)" (selectedLine)="handleSelectLine($event)"></app-show-openings>
</mat-selection-list>

