<mat-card>
    <p *ngIf="correctPercentage; else notExecuted" >
        {{correctPercentage}} %
    </p>
    <ng-template #notExecuted>
        Not executed
    </ng-template>
    <mat-card-actions>
        <button mat-button [disabled]="!isFailedOneAttempt"(click)="handleShowAnswer()">SHOW ANSWER</button>
        <button mat-button [disabled]="!isVariantEnded" (click)="handleNextVariant()">NEXT VARIANT</button>
        <button mat-button (click)="handleReverse()">REVERSE</button>
    </mat-card-actions>
</mat-card>