<app-navigation-bar></app-navigation-bar>
<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile [colspan]=4 [rowspan] =3>
        <app-board (pieceMoved)="handlePieceMoved($event)"></app-board>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=4 [rowspan] =1>
        <app-practice-footer-panel 
        [position]="currentPosition"
        [isFailedOneAttempt]="isFailedOneAttempt" 
        [isVariantEnded]="isVariantEnded"
         (showAnswer)="handleShowAnswer()" 
        (nextVariant)="handleNextVariant()" 
         (reverse)="handleReverse()"></app-practice-footer-panel>
    </mat-grid-tile>
</mat-grid-list>
