<mat-card>
    <h2>Moves</h2>
    <mat-selection-list #moves [multiple]="false" (selectionChange)="handleSelectMove($event)">
        <mat-list-option *ngFor="let move of moveList" [value]="move" [ngClass]="{'selectedItem': move?.moveToSend === selectedMove?.moveToSend}"        >
          {{move.moveToShow}}
        </mat-list-option>
      </mat-selection-list>
    <mat-card-actions>
        <button mat-button [disabled]="!selectedMove" (click)="handleNextMove()">NEXT</button>
        <button mat-button [disabled]="!selectedMove" (click)="handleDeleteMove()">DELETE</button>
    </mat-card-actions>
</mat-card>